Light_Navigation_Architecture_on_Mac.xcodeproj/xcuserdata/user.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Light_Navigation_Architecture_on_Mac.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/xcschememanagement.plist
